[submodule "odin-vma"]
	path = odin-vma
	url = git@github.com:Capati/odin-vma.git
[submodule "desktop_vulkan_wrapper"]
	path = desktop_vulkan_wrapper
	url = git@github.com:NickDriscoll/desktop_vulkan_wrapper.git
[submodule "openxr_odin"]
	path = openxr_odin
	url = https://github.com/cshenton/openxr_odin.git
